* {
    box-sizing: border-box;
}
body {
    color: #cfe9fc;
    font-family: "Maven Pro", sans-serif;
    min-height: 100%;
    background: url(../images/skytop.gif) rgba(69, 69, 109, 0.7) no-repeat center fixed;
    background-blend-mode: multiply;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.content {
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 150px;
    background-color: rgba(55, 79, 101, 0.3);
    border-radius: 16px;
    padding-bottom: 40px;
}
a {
    color: #cfe9fc;
    padding: 10px 0 10px 0;
    text-decoration: none;
}
a:hover {
    color: pink;
    padding: 10px 0 10px 0;
}
#heading {
    padding: 10px 0 0 0;
    font-family: Playball, cursive;
    font-family: "Covered By Your Grace", cursive;
    font-size: 3em;
    margin-bottom: 0;
}
#clock {
    font-family: "Press Start 2P", cursive;
    font-size: 1.8rem;
    color: rgba(136, 84, 81, 0.75);
}
h1 {
    text-align: center;
}
h2 {
    padding: 0 4px;
    margin-bottom: 3px;
    color: rgba(214, 220, 225, 0.9);
    font-family: "Covered By Your Grace", cursive;
}
ul {
    list-style-type: none;
    padding: 0 33px;
}
.search {
    text-align: center;
    padding: 10px;
}
.search input {
    width: 70%;
    background-color: #000;
    color: pink;
    border: 1px solid #4e526c;
}
.search input:hover {
    width: 70%;
    background-color: #000;
    color: pink;
    border: 1px solid #6e7495;
}
input:focus {
    outline-offset: 0 !important;
    outline: 0 !important;
}
.column-left {
    float: left;
    width: 33%;
}
.column-right {
    float: right;
    width: 33%;
}
.column-center {
    display: inline-block;
    width: 33%;
}
@media screen and (max-width: 960px) {
    .column-left {
        float: none;
        width: 100%;
    }
    .column-right {
        float: none;
        width: 100%;
    }
    .column-center {
        display: block;
        width: 100%;
    }
}
