* {
	box-sizing: border-box;
}


body {
    color: #cfe9fc;
    font-family: 'Maven Pro', sans-serif;
    min-height:100%;
    background:url(../skytop.gif) rgba(69, 69, 109, 0.7) no-repeat center fixed;
    background-blend-mode: multiply;

    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;

}


.content {
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top:150px;
    background-color: rgba(15, 18, 35, 0.9);
    border-radius: 12px;
    padding-bottom: 40px;

}


a {
    color: #cfe9fc;
    padding:10px 0px 10px 0px;
    text-decoration: none;

}

a:hover {
	color: pink;
	padding:10px 0px 10px 0px;
}


#heading {
	padding: 10px 0px 0px 0px;
    font-family: 'Permanent Marker', cursive;
	font-size:3em;
    margin-bottom: 0px;
    color: rgba(255,255,255,0.7);
}


#clock {
    font-family: 'Press Start 2P', cursive;
    font-size:1.8rem;
    color: rgba(255,255,255,0.3);
}


h1 {
	text-align: center;
}

h2 {
    padding: 0px 33px;
    font-family: 'Permanent Marker', cursive;

}


ul {
    list-style-type: none;
    padding: 0px 33px;

}


.search {
    text-align: center;
    padding: 10px;
}

.search input {
    width:70%;
    background-color: black;
    color: pink;
    border: 1px solid #4E526C;

}

.search input:hover{
    width:70%;
    background-color: black;
    color: pink;
    border: 1px solid #6E7495;
}


input:focus, textarea:focus, select:focus {
outline-offset: 0px !important;
outline: none !important;
}



.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

@media screen and (max-width: 960px) {
    .column-left{ float: none; width: 100%; }
    .column-right{ float: none; width: 100%; }
    .column-center{ display: block; width: 100%; }
}