:root {
  /* Globals */
  --line-height: calc(1em * 1.7); /* Set this way so it can be used in calculations */
  --element-padding: 8px;
  --element-border: 1px;
  --element-height: calc(var(--line-height) + var(--element-padding)*2 + var(--element-border)*2);
  --border-radius: 4px;
  --main-color: #33C3F0;
  --main-color-contrast: #FFF;
  --activated-color: #1EAEDB;
  --activated-color-contrast: #FFF;
  /* Basics */
  --container-max-width: 800px;

  --link-color: #1EAEDB;
  --link-color-hover: #0FA0CE;

  --font-size: 1.8rem;
  --font-weight: 400;
  --hero-padding: 2vh; 
  
  --background-color: rgb(14, 10, 16);
  --text-color: rgb(243, 243, 243);
}



@font-face {
  font-family: "Yantramanav";
  src: url("../fonts/Yantramanav-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Dense";
  src: url("../fonts/Dense-Regular.otf") format("truetype");
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Yantramanav", sans-serif;
}

body, html {
  background-color:var(--background-color);
  color:var(--text-color);
  font-family: "Yantramanav", sans-serif;
}

body,html {

  /* background: linear-gradient(rgba(69, 69, 108, 0.65), rgba(44, 48, 108, 0.65)), rgba(0, 0, 0, 0.55) url("https://picsum.photos/1600/900") no-repeat; */
  background: linear-gradient(
      rgba(42, 42, 79, 0.363),
      rgba(31, 15, 48, 0.65)),
      rgba(0, 0, 0, 0.55) url(../img/banner.webp) no-repeat;

  background-attachment: fixed;
  background-size: cover;
}


.intro {
  margin-top:20px;

}

/* BASE */

.title {
  font-weight: 400;
}
.example-grid .column > div,
.example-grid .columns > div {
  background-color: #eee;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
@media (min-width: 550px) {
  .example-grid .column > div,
  .example-grid .columns > div {
    margin-bottom: 1.5rem;
  }
}
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  font-weight: 400;
  text-transform: none;
}



.bordered {
  border: 1px solid #999;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}


.navbar#navigation {
  position: sticky;
  top: -1px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}
